---
- name: Configure device credentials on Cisco DNA Center
  hosts: localhost
  connection: local
  gather_facts: false  # This space must be "no". It was set to false due to formatting errors.but the correct value is "no".
  vars_files:
    - "input_swim.yml"
    - "credentials.yml"
  tasks:
    - name: Import an image, tag it as golden and load it on device
      cisco.dnac.swim_workflow_manager:
        dnac_host: "{{ dnac_host }}"
        dnac_username: "{{ dnac_username }}"
        dnac_password: "{{ dnac_password }}"
        dnac_verify: "{{ dnac_verify }}"
        dnac_port: "{{ dnac_port }}"
        dnac_version: "{{ dnac_version }}"
        dnac_debug: "{{ dnac_debug }}"
        dnac_log: true
        dnac_log_level: DEBUG
        config_verify: true
        dnac_api_task_timeout: 1000
        dnac_task_poll_interval: 1
        config:
          - tagging_details:
              # image_name: cat9k_iosxe_npe.17.15.04.SPA.bin #already tagged - cat9k_iosxe.17.12.01.SPA.bin  site - usa/sanjose/bgl_18
              # image_name: cat9k_iosxe.17.12.01.SPA.bin #already tagged - cat9k_iosxe.17.12.01.SPA.bin  site - usa/sanjose/bgl_18
              image_name: cat9k_iosxe.17.17.01.SPA.bin #already tagged - cat9k_iosxe.17.12.01.SPA.bin  site - usa/sanjose/bgl_18
              device_role: "all"
              device_image_family_name: Cisco Catalyst 9300 Switch # high level or low level 
              device_tags: ["a", "b"] # device 
              # supervisor_product_name_ordinal: 286321396
              site_name: Global/USA/SAN JOSE
              tagging: true

          # - image_distribution_details:
          #     image_name: cat9k_iosxe.17.12.05.SPA.bin
          #     device_tag: a
          #     site_name: Global/USA/SAN JOSE/SJ_BLD23

          # - tagging_details:
          #       image_name: cat9k_iosxe.17.12.01.SPA.bin 
          #       site_name: Global/USA/SAN JOSE
          #       tagging: true
          #       product_name_ordinal: # New - obtained from device_image_family_name
          #       supervisor_product_name_ordinal: # New
          #       device_tag: # New
          #       device_role:



# Cisco Catalyst 9600 Series Supervisor Engine 1
# Cisco Catalyst 9600 Series Supervisor Engine 2
# Cisco Catalyst 9300 Switch 
# Cisco Catalyst 9606R Switch
# Cisco Catalyst C9500X-60L4D Switch
# Cisco Catalyst C9500-48Y4C Switch
# Cisco Catalyst C9500-32QC Switch
# Cisco Catalyst C9500-24Y4C Switch
# Cisco Catalyst 9300L Switch Stack
# Cisco Catalyst 9500X SVL Switch
# Cisco Catalyst 9400 Supervisor Engine-1XL-Y
# Cisco Catalyst 9400X Supervisor Engine-2
# Cisco Catalyst 9400X Supervisor Engine-2XL
# Cisco Catalyst C9500 SVL Switch
# Cisco Catalyst 9400 Supervisor Engine-1XL
# Cisco Catalyst C9500-32C Switch
# Cisco Catalyst 9400 Supervisor Engine-1
# Cisco Catalyst 9500 Switch
# Cisco Catalyst C9500X-28C8D Switch