---
- name: Configure device credentials on Cisco Catalyst Center
  hosts: localhost
  connection: local
  gather_facts: false  # This space must be "no". It was set to false due to formatting errors.but the correct value is "no".
  vars_files:
    - "credentials.yml"
  tasks:
    - name: testing wireless design workflow manager
      cisco.dnac.wireless_design_workflow_manager:
        dnac_host: "{{ dnac_host }}"
        dnac_username: "{{ dnac_username }}"
        dnac_password: "{{ dnac_password }}"
        dnac_verify: "{{ dnac_verify }}"
        dnac_port: "{{ dnac_port }}"
        dnac_version: "{{ dnac_version }}"
        dnac_debug: "{{ dnac_debug }}"
        dnac_log: true
        dnac_log_level: DEBUG
        config_verify: true
        dnac_api_task_timeout: 1000
        dnac_task_poll_interval: 1
        state: merged
        config:
          - feature_template_config:
              - advanced_ssid:
                  - design_name: "sample_advanced_ssid_design_test_1"
                    feature_attributes:
                      max_clients_per_ap: 200      # 0-1200  # the missing param 
                      fastlane_asr: true
                      dot11v_bss_max_idle_protected: true # the missing param 
                      universal_ap_admin: true
                      dhcp_opt82_remote_id_sub_option: true
                      advertise_pc_analytics_support: true
                      # unlocked_attributes:
                      #   - "peer2peer_blocking"
                      #   - "passive_client"
